<style>
  #about {
    text-align: center;
  }
  p {
    width: 500px;
    margin-left: 25%;
    margin-right: 25%;
  }
</style>
<div id="purpose">
  <h4>Purpose</h4>
  <div class="display" id="about">
    <p>Even when I find out about amazing organizations, it becomes hard to keep track of all in one centralized place.</p>
    <p>That's where this website comes in. It's a platform for anyone to save organizations they are interested in, and find new ones as well.</p>
    <p>If you're interested in learning about new organizations and remembering what organizations you hear about day to day.</p>
  </div>
</div>

{{outlet}}
