<header>
  {{#link-to "index"}}
    <h2>Passion Organizations</h2>
  {{/link-to}}
</header>

<nav>
  <span id="left-nav">
    {{#link-to "create"}}
      Add
    {{/link-to}}
  </span>

  <span id="right-nav">
    {{#link-to "saved"}}
      Saved
    {{/link-to}}

    {{#link-to "about"}}
      About
    {{/link-to}}
  </span>

</nav>

{{outlet}}

<footer>&copy; ITP404 </footer>
