<style>
  h4 {
    margin: 0;
  }
</style>
<div class="form-box">
  <h4 data-test="org-name" id="name">{{model.name}}</h4>
  <p data-test="org-category" id="category">Category: {{model.category}}</p>
  <p data-test="org-website" id="website">Website: {{model.website}}</p>
  <p data-test="org-mission" id="mission">Mission: {{model.mission}}</p>
</div>
